extends layout

block content
  main 
    p Add new message.

    form(method="POST", action="/new")
      div
          label(for="name") Name
          input#text(type="text" name="name" required)
      div
          label(for="message") message
          textarea#message(type="text" name="message" required)
      button Post Message
      
    a(href="/") Home 