extends layout

block content
  main 
    div
      each message in mssgArr
        div
          h2 #{message.text}
          p #{message.user}
          p #{message.added}
          
    a(href="/new") Add New Message