extends layout

block content
  main 
    a(href="/new" class="add-message") Add Message
    div.card-container
      each message in mssgArr
        div.card
          h3 #{message.user}
          p #{message.text}
          p #{message.added}