* {
  margin: 0;
  padding: 0;
  font-family: math;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  /* padding: 3.125rem; */
  min-height: 100vh;
  font: 0.875rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* Header Styles */
header {
  width: 100%;
  background-color: #fff;
  padding: 1.25rem 1.25rem;
  box-shadow: 0px 2px 11px 0px #00000045;
}

header a {
  cursor: pointer;
  color: midnightblue;
}

header > div {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 75rem;
  align-items: center;
  justify-content: space-between;
}

span {
  color: blue;
  width: min-content;
  margin: 0 0.3125rem;
  display: inline-block;
  text-shadow: 1px 3px 3px #00000061;
}

h1 {
  color: #e2e5f4;
  text-shadow: 3px 1px 5px #000000;
}

nav {
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 12.66rem;
  min-width: 12.66rem;
  justify-content: space-between;
}

main {
  padding: 1.25rem;
}

main a {
  color: blue;
  display: block;
  text-decoration: none;
  max-width: max-content;
  border: 1px solid blue;
  border-radius: 0.3125rem;
  padding: 0.625rem 1.25rem;
}
